html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Fira Sans', sans-serif; */
  font-size: 1.6rem;
  background-image: url(../images/main-bg.jpg);
  background-size: 120% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none
}
.page {
  max-width: 1200px;

}
.wrapper {
  width: 90%;
  height: 100%;
  background-color: transparent;
  margin: 0 auto;

}
.header{
  padding-top: 42px;
}
.visually-hidden {
  display: none;
}
.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 46px;
  background-color: #000;
  opacity: 0.4;
  margin: 0;
}
.navigation-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.promo-content {
  width: 95%;
  margin: 0 auto -15%;
  padding-top: 20px;
}
.slider {
  position: relative;
  background-color: #000;
}
.slider-img {
  width: 100%;
}
.main-content{
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 20px auto 15px;
  padding: 50px 0px;
}
.main-top {
  padding-top: 20%;
}
.slider-title {
  background-color: #000;
  opacity: 0.7;
  margin: -55px 0;
  padding: 15px;
  text-align: center;

}
.title-text {
  color:#fff;
  font-size: 1.8rem;
}

.layout-2-column {
  width: 100%;
  display: flex;

  gap: 25px;
}
.left-column {
  width: 35%;
  padding-left: 20px;
}
.right-column {
  width: 65%;
  padding-right: 20px;

}
.main-description {
  text-indent: 5rem;
}
.image-block {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  border: 1px solid #242424;
}
.room1-image {
  width: 100%;
  padding-bottom: 50%;
  background-image: url(../images/room1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.room2-image {
  width: 100%;
  padding-bottom: 50%;
  background-image: url(../images/room2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block1-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/monastery1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block2-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/monastery2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
