* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Fira Sans', sans-serif; */
  font-size: 1.6rem;
  background-image: url(../images/main-bg.jpg);
  background-size: 120% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #4582dd;
  display: block;
}
input {
  padding: 0;
}
.page {
  max-width: 1200px;

}
.wrapper {
  width: 90%;
  height: 100%;
  background-color: transparent;
  margin: 0 auto;

}
.display-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header{
  padding-top: 42px;
}
.visually-hidden {
  display: none;
}
.logo {
  margin-bottom: 10px;
}
.navigation-block {
  max-width: 100%;
  display: flex;
  position: relative;
  z-index: 2;
  order: 2;
}
.navigation-block__background {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  order: 1;
  z-index: 0;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0;
  z-index: 3;
}
.navigation-link {
  display: block;
  width: 100%;
  padding: 0 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 150px;
  height: 66px;
}
.navigation-item:hover {
  background-color: #000;
  opacity: 0.9;
}
.promo-content {
  width: 95%;
  margin: 0 auto -15%;
  padding-top: 20px;
}
.slider {
  position: relative;
  background-color: #000;
}
.slider-img {
  width: 100%;
}
.main-content{
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 20px auto 15px;
  padding: 50px 0px;
}
.main-top {
  padding-top: 20%;
  padding-bottom: 10%;
}
.head-row {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}
.column-title {
  font-size: 18;
  padding: 20px 0px;
}
.title-colored {
  color:green;
}
.slider-title {
  background-color: #000;
  opacity: 0.7;
  margin: -55px 0;
  padding: 15px;
  text-align: center;

}
.title-text {
  color:#fff;
  font-family: 'Ruslan Display';
  font-size: 1.8rem;
}
.block-center {
  margin: 0 auto;
  text-align: center;
}
.layout-2-column {
  width: 100%;
  display: flex;
  gap: 20px;
}
.left-column {
  width: 25%;
  /* padding-left: 20px; */
}
.left-column img {
  width: 100%;

}
.right-column {
  width: 75%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.layout-1-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
.main-description {
  text-indent: 5rem;
  line-height: 1.5;
  padding: 5px 0;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap:20px;
}
.contact-adress {
  display: flex;
  gap: 5px;
  align-items: center;
}
.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.social-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.ico {
  width: 40px;
  height: 40px;
}
.ico-adress {
  background-image: url(../images/icons/map-marker.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}
.ico-phone {
  background-image: url(../images/icons/phone_call_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}
.ico-leter {
  background-image: url(../images/icons/socialemail.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}
.ico-social {
  background-image: url(../images/icons/vk_tile_logo_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}

.layout-1-column input {
  width: 90%;
  padding: 7px 7px;
  font-size: 14px;

}
.contact-us__button button {
  width: 70%;
  min-width: 150px;
  background-color: #4582dd;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.excursion-button {
  width: 40%;
  min-width: 150px;
  margin-top: 50px;
}
.excursion-link button {
  width: 100%;
  background-color: #4582dd;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.description-colored {
  color: #333399;
}
.image-block {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  border: 1px solid #242424;
}
.room1-image {
  width: 100%;
  padding-bottom: 40%;
  background-image: url(../images/room1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.room2-image {
  width: 100%;
  padding-bottom: 40%;
  background-image: url(../images/room2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.room3-image {
  width: 100%;
  padding-bottom: 40%;
  background-image: url(../images/bathroom.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block1-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/monastery1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block2-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/monastery2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block3-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/block3-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block4-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/block3-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block5-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/block3-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block6-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/block3-4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block7-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/block7.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.block8-image {
  width: 100%;
  padding-bottom: 30%;
  background-image: url(../images/block8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pilgrimages {
  padding-top: 50px;
}
.pilgrimages-list {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.pilgrimage-item {
  width: 30%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-top: 20px;
}
.pilgrimage-title {
  padding: 15px;
}
.pilgrimage-image1 {
  background-image: url(../images/monastery2.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image2 {
  background-image: url(../images/monastery3.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image3 {
  background-image: url(../images/GoldRing.jpg);
  width: 80%;
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image4 {
  background-image: url(../images/monastery4.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image5 {
  background-image: url(../images/monastery5.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image6 {
  background-image: url(../images/monastery6.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image7 {
  background-image: url(../images/monastery7.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image8 {
  background-image: url(../images/monastery8.png);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image9 {
  background-image: url(../images/monastery9.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image10 {
  background-image: url(../images/saintSpring.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image11 {
  background-image: url(../images/saintSpring2.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.pilgrimage-image12 {
  background-image: url(../images/tumbMS.jpg);
  width: 80%;
  /* height: 80%; */
  padding-bottom: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.excursion-image {
  width: 100%;
  background-image: url(../images/monastery2.jpg);
  padding-bottom: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
  margin-top: 30px;
}
.video-container iframe {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
.title__margin-top {
  margin-top: 50px;
  margin-bottom: 20px;
}
.nikitaStolpnik-image {
  background-image: url(../images/nikitaStolpnik.jpg);
  width: 60%;
  padding-bottom: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
  margin-left: 20px;
}
.virigi-image {
  background-image: url(../images/virigi.jpg);
  width: 60%;
  padding-bottom: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
  margin-left: 20px;
}
.schedule-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.schedule-item {
  width: 50%;
  padding: 20px;
  text-align: center;
  border: 2px solid goldenrod;
  gap: 5px;
}
.font-size {
  font-size: 24px;
  font-weight: 700;
}
.varvarin1-image {
  width: 80%;
  padding-bottom: 30%;
  background-image: url(../images/varvarin1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px 0 20px;
}
.varvarin2-image {
  width: 80%;
  padding-bottom: 30%;
  background-image: url(../images/varvarin2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 20px 0 0;
}
.nikita1-image {
  width: 30%;
  padding-bottom: 30%;
  background-image: url(../images/nikita1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px 0 3%;
}
.nikita2-image {
  width: 30%;
  padding-bottom: 30%;
  background-image: url(../images/nikita2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.nikita3-image {
  width: 30%;
  padding-bottom: 30%;
  background-image: url(../images/nikita3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.solba1-image {
  width: 100%;
  padding-bottom: 50%;
  background-image: url(../images/solba1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.godenovo1-image {
  width: 100%;
  padding-bottom: 50%;
  background-image: url(../images/godenovo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.godenovo2-image {
  width: 100%;
  padding-bottom: 50%;
  background-image: url(../images/godenovoCross.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.godenovo3-image {
  width: 100%;
  padding-bottom: 80%;
  background-image: url(../images/goToGodenovo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.godenovo4-image {
  width: 100%;
  padding-bottom: 80%;
  background-image: url(../images/godenovoInformation.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
